{% extends 'base.html.twig' %}

{% block main %}
<h1>{{ category.name }}</h1>
<hr>
<div class="row">
    {% for animal in animals %}
    <div class="product-container">
        <h4>{{ animal.name }} - {{ animal.breed }}</h4>	
        <h5>Price: ${{ animal.price }}</h5>									
        <div class="product-body">
            <img src="{{ animal.image}}" 
                 alt="{{ animal.name }} - {{ animal.breed }}" class="img-thumbnail rounded float-center">									
        </div>        
        <div class="product-buttons">
            <a class="btn btn-info btn-xs" href="{{ path('animal_details', {'id':animal.id}) }}">Details</a>            
            {% if animal.inStock == 1 %}
                <a class="btn btn-success btn-xs" href="{{ path('animal_to_order', {'id':animal.id}) }}">Buy</a>
                {% else %}
                <a class="btn btn-outline-danger btn-xs btn-disabled" href="#">Out Of Stock!</a>
            {% endif %}
            {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary btn-xs" href="{{ path('animal_edit', {'id':animal.id}) }}">Edit</a>
            <a class="btn btn-danger btn-xs" href="{{ path('animal_delete', {'id':animal.id}) }}">Delete</a>
            {% endif %}
            {% endif %}
        </div>        
    </div>
    {% endfor %}    
</div>

{% endblock %}