{% extends 'base.html.twig' %}

{% block main %}
<h1>Welcome!</h1>
<hr>
<div class="row">
    {% for animal in animals %}
    <div class="product-container">
        <h4>{{ animal.name }} - {{ animal.breed }}</h4>	
        <h5>Price: ${{ animal.price }}</h5>									
        <div class="product-body">
            <img src="{{ animal.image}}" 
                 alt="{{ animal.name }} - {{ animal.breed }}" class="img-thumbnail rounded float-left">									
        </div>
        <div class="product-buttons">
            <button class="btn btn-info btn-sm btn-block details">Details</button>
            {% if animal.inStock == 1 %}
                <button class="btn btn-success btn-sm btn-block">Buy</button>
                {% else %}
                <button class="btn btn-danger btn-sm btn-block out-of-stock" disabled>Out Of Stock!</button>
            {% endif %}
            <button class="btn btn-pimary btn-sm btn-block btn-edit"><a href="{{ path('animal_edit', {'id':animal.id}) }}">Edit</a></button>
            <button class="btn btn-danger btn-sm btn-block btn-delete">Delete</button>
        </div>
    </div>
    {% endfor %}    
</div>

{% endblock %}