
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Pet Store{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <script src="{{ asset('./js/jquery-3.3.1.min.js') }}"></script>
        <script>
            setTimeout(function () {
            $('#msg').fadeOut();
            }, 3000)

        </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
        <header>
            <nav class="navbar navbar-custom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('homepage') }}">Pet Store</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    {% if app.user %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('category_all') }}">Shop</a></li>
                        <li><a href="{{ path('order_view') }}">Cart</a></li>
                        <li><a href="{{ path('order_all') }}">My Orders</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('category_create') }}">Create category</a></li>
                                <li><a href="{{ path('animal_create') }}">Create animal</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                        <li><a href="{{ path('security_logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ path('user_register') }}">Register</a></li>
                        <li><a href="{{ path('security_login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav> 
        </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>

        {% block footer %}
        <footer>
            <div class="container modal-footer">
                <p>&copy; 2018 - Pet Store Foundation</p>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('./js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('./js/moment.min.js') }}"></script>
        <script src="{{ asset('./js/bootstrap.js') }}"></script>
        <script src="{{ asset('./js/bootstrap-datetimepicker.min.js') }}"></script>
        {% endblock %}

    </body>
</html>

