{% extends 'base.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">                    
                    <div class="col-xs-6">
                        <h3>New order</h3>
                    </div>
                </div>
                <hr>
            </div>
            {% if order != null and order.animals|length >0 %}
            <div class="panel-body">								
                <div class="order-details">
                    <table class="last-order">
                        <col width="5%">
                        <col width="40%">
                        <col width="5%">
                        <col width="10%">
                        {% set total = 0 %}
                        {% for animal in order.animals %}                        
                        <tr>
                            <td>
                                <a class="btn btn-danger btn-xs" href="{{ path('order_animal_remove', {'id':animal.id}) }}">Remove</a>
                            </td>
                            <td>
                               {{ animal.name}} {{ animal.breed}} 
                            </td>
                            <td>
                                -->
                            </td>
                            <td class="col-price">
                               ${{ animal.price}} 
                               {% set total = total + animal.price %}                               
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" class="total-price">
                                Total: ${{ total }} 
                            </td>
                        </tr>
                    </table>  
                    <div class="btn-order-finish">
                        <a class="btn btn-primary btn-xs" href="{{ path('order_finish', {'id':order.id}) }}">Finish</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="empty-order">No added animals here.</div>
            {% endif %}
        </div>
    </div>    
</div>

{% endblock %}